<section class="inner">
	<h2 class="section-ttl">注文情報入力</h2>
	<% if flash[:error] %>
		<div id="error_explanation">
			<p><%= flash[:error] %></p>
		</div>
	<% end %>
	<%= form_with model:@order, url: orders_confirm_path do |f| %>
		<div class="field mb2">
