<section class="inner">
	<h2 class="section-ttl">注文履歴詳細</h2>
	<table class="order_info mb3 has_border">
		<caption class="fz18 text-left">注文情報</caption>
		<thead>
			<tr>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>注文日</td>
				<td><%= @order.created_at_jst.strftime('%Y/%m/%d') %></td>
			</tr>
			<tr>
				<td>配送先</td>
				<td>
					〒<%= @order.postal_code %><br>
					<%= @order.destination %><br>
					<%= @order.name %>
				</td>
			</tr>
